---
export interface Props {
	name: "Ujwal Chapagain";
	href: #;
}

const { name, href } = Astro.props;
---

<div class="author">
	<p><a {href}>{name}</a></p>
</div>

<style>
	.author {
		margin-bottom: 0.75rem;
	}
</style>
